{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">


        <div class="col-3">
            Sous menu de la page profile
        </div>

        
        <div class="col-9">
            Info utilisateur
        </div>


    </div>
</div>
{% endblock %}